:root { 
--gray_51:#fafafa; 
--blue_A200:#4793fe; 
--red_500:#fe4242; 
--blue_A201:#438ffe; 
--black_900_3f:#0000003f; 
--gray_50:#f8f8f8; 
--green_500:#2bc155; 
--green_400:#4fcb71; 
--gray_700_a2:#635d5da2; 
--gray_500_26:#9b989826; 
--gray_501:#adadad; 
--gray_700:#635d5d; 
--gray_301:#e5e5e5; 
--gray_400:#c4c4c4; 
--gray_500:#9c9c9c; 
--gray_701:#625d5d; 
--green_50:#e9f9ee; 
--orange_301:#febe42; 
--gray_101:#faf5f5; 
--orange_400:#ffa41d; 
--gray_200:#eaeaea; 
--gray_300:#dedede; 
--orange_300:#f5b546; 
--gray_700_3f:#6e68683f; 
--blue_50:#edf5ff; 
--gray_100:#effcf3; 
--bluegray_800:#3e4954; 
--blue_A200_14:#438ffe14; 
--bluegray_400:#8c8787; 
--blue_300:#72c1e2; 
--white_A700:#ffffff; 
--gray_600_3f:#7a74743f; 
}